/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Lato:300,700);

html { overflow-y: scroll; }

.grey {
	background: #DDD;
	padding: 1rem;
}

a img:hover {
	opacity: .6;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

ul#images li {
    width: 120px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}



body {
    padding-bottom: 1rem;
	font-family: 'Lato', sans-serif;
}

#images {
	padding-left: 5rem;
	padding-right: 5rem;
}

.jumbotron {
	padding-top: 10rem;
	padding-bottom: 4rem;
	padding-left: 6rem;
	padding-right: 6rem;
	margin: auto;
}


.lead {
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	padding-left: 1.5rem;
}

ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}

.grid-item-content {
	margin-bottom: 6rem;
}

.grid-item-content--height2 { 
	height: 200px; 
}












