/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html { overflow-y: scroll; }

.grey {
	background: #DDD;
	padding: 1rem
}

ul#images li {
    width: 120px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}



body {
    padding-bottom: 25px;
}

.jumbotron {
	padding-left: 15rem;
	padding-right: 15rem;
	padding-bottom: 10rem;
}


.lead {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1.5rem;
}

ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}

.grid-item-content {
	margin-bottom: 6rem;
}

.grid-item-content--height2 { 
	height: 200px; 
}












