/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul#images {
    list-style-type: none;
}

ul#images li {
    width: 120px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}













